#timing{
    text-align: center;
    padding: 20px 0px;
    
}
#timingbox p{
    text-align: center;
    padding-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px ;
    font-weight: 600;
}

#connect p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#connect p a{
    text-decoration: none;
}
#address p{
    text-align: center;
}
.container{
    min-height: 84vh;
}

.container::before{
    content: "";
    background: url(../static/image/logo.png) no-repeat center center/cover;
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

